<template>
    <div>
        <div class="card text-center shadow-2xl dark:bg-base-200 bg-white">
            <figure class="px-10 pt-10">
                <img :src="artist.images[0].url" class="mask mask-squircle">
            </figure>
            <div class="card-body">
                <h2 class="card-title text-3xl mb-1 font-bold">{{ artist.name }}</h2>
                <p class="uppercase dark:text-gray-100 text-gray-900 text-opacity-40 font-bold tracking-normal">
                    {{ artist.type }}
                </p>
                <div class="justify-center mt-5">
                    <button class="btn" @click="openArtistInSpotify">
                        <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>Open in Spotify
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ArtistCard',
    props: {
        artist: {
            type: Object
        }
    },
    methods: {
        openArtistInSpotify () {
            window.location.href = this.artist.uri
        }
    }
}
</script>

<style scoped>

</style>
