<template>
    <div v-if="!track.duplicate">
        <div class="card text-center shadow-2xl dark:bg-base-200 bg-white">
            <figure class="px-10 pt-10">
                <div class="indicator rounded-xl">
                    <img :src="track.album.images[0].url" class="rounded-xl">
                    <div v-if="track.badge > 1" class="indicator-item badge badge-primary badge-lg">{{ track.badge }}x</div>
                </div>
            </figure>
            <div class="card-body">
                <h2 class="card-title text-3xl mb-1 font-bold">{{ track.name }}</h2>
                <p class="uppercase dark:text-gray-100 text-gray-900 text-opacity-40 font-bold tracking-normal">
                    {{ track.artists.map(artist => artist.name).join(' • ') }}
                </p>
                <div class="justify-center mt-4 mb-2 space-x-2 card-actions">
                    <button v-if="currentlyPlaying" class="btn btn-accent" @click="pauseTrackPreview">
                        <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>Pause
                    </button>
                    <button v-else class="btn btn-accent" @click="playTrackPreview">
                        <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        {{ audio ? 'Resume' : 'Play preview' }}
                    </button>
                    <button v-if="isShareAPISupported" class="btn" @click="shareTrack">
                        <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"></path></svg>Share
                    </button>
                </div>
                <div class="justify-center card-">
                    <button class="btn" @click="openTrackInSpotify">
                        <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>Open in Spotify
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TrackCard',
    props: {
        track: {
            type: Object
        }
    },
    data () {
        return {
            audio: null,
            currentlyPlaying: false
        }
    },
    methods: {
        playTrackPreview () {
            if (!this.audio) {
                // starting audio for the first time
                this.audio = new Audio(this.track.preview_url)
                this.currentlyPlaying = true
            } else {
                // continue audio playback
                this.currentlyPlaying = true
            }
            // pause other playing previews
            this.$emit('startedPlayingPreview', this.audio)
            this.audio.play()

            this.audio.addEventListener('ended', () => {
                this.currentlyPlaying = false
                this.audio = null
            })

            this.audio.addEventListener('pause', () => {
                this.currentlyPlaying = false
            })
        },
        pauseTrackPreview () {
            if (this.audio) {
                this.audio.pause()
                this.currentlyPlaying = false
            }
        },
        openTrackInSpotify () {
            console.log(this.track.uri)
            window.location.href = this.track.uri
        },
        shareTrack () {
            // todo: add sharing track functionality
            /* navigator.share({
                title: 'title',
                text: 'text',
                url: 'https://insights.nhaug.de'
            }).then(() => {
                console.log('successfully shared')
            }).catch(error => {
                console.log("sharing couldn't be completed")
                console.error(error)
            }) */
        }
    },
    computed: {
        isShareAPISupported () {
            return !!navigator.share
        }
    },
    beforeDestroy () {
        if (this.audio) this.audio.pause()
    }
}
</script>

<style scoped>

</style>
