<template>
    <div>
        <transition name="fade">
            <div v-if="musicStopped" class="alert">
                <div class="alert-grow">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#2196f3" class="w-6 h-6 mx-2">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
                    </svg>
                    <label class="dark:text-white">It seems you have stopped the music playback.</label>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div v-if="currentTrack" class="card md:card-side p-10 items-center">
                <div>
                    <figure class="lg:sdfsd/4" v-if="currentTrack.album && currentTrack.album.images">
                        <img :src="currentTrack.album.images[0].url" class="rounded-lg shadow-xl" style="height: 300px; width: 300px;">
                    </figure>
                </div>
                <div class="lg:w-3/4 card-body">
                    <h1 class="mb-3 text-5xl font-bold">
                        {{ currentTrack.name }}
                    </h1>
                    <p v-if="currentTrack.artists" class="uppercase dark:text-gray-100 text-gray-900 text-opacity-40 font-bold tracking-normal">
                        {{ currentTrack.artists.map(artist => artist.name).join(' • ') }}
                    </p>
                    <div class="space-x-2 card-actions" v-if="!musicStopped">
                        <button v-if="!currentTrack.isTrackInLibrary" class="btn btn-primary" @click="addTrackToLibrary(currentTrack.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                            </svg>
                            Add to library
                        </button>
                        <button v-else class="btn btn-danger" @click="removeTrackFromLibrary(currentTrack.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                            Remove from library
                        </button>
                    </div>
                </div>
            </div>
        </transition>

    <!--<div v-if="tracks.top" class="pt-12">
      <h1 class="text-5xl font-bold mb-5 capitalized">Your top tracks</h1>
      <div v-for="track in tracks.top" :key="track.id">
        <h2>{{ track.name }}</h2>
        <p>
          <span v-for="artist in track.artists" :key="artist.id">{{ artist.name }}<br /></span>
        </p>
        <audio :src="track.preview_url" controls></audio>
      </div>
    </div>-->
    </div>
</template>

<script>
// @ is an alias to /src
import SpotifyService from '@/services/SpotifyService'

export default {
    name: 'Home',
    async mounted () {
        console.log('app mounted')
        this.getProfile()

        this.getCurrentTrack()
        this.refreshCurrentTrack()
    },
    beforeDestroy () {
        clearInterval(this.intervalInstance)
    },
    data () {
        return {
            currentTrack: null,
            intervalInstance: null,
            musicStopped: false
        }
    },
    methods: {
        async getProfile () {
            const profile = (await SpotifyService.getProfileData()).data
            if (profile !== this.$store.state.profile) {
                this.$store.commit('setProfile', profile)
            }
        },
        refreshCurrentTrack () {
            this.intervalInstance = setInterval(() => {
                this.getCurrentTrack()
            }, 5000)
        },
        async getCurrentTrack () {
            const currentTrack = (await SpotifyService.getCurrentTrack()).data
            this.currentTrack = {
                ...this.currentTrack,
                ...currentTrack
            }

            // handle case when music has been stopped
            if (this.currentTrack && !currentTrack.id) {
                this.musicStopped = true
            } else {
                this.musicStopped = false
            }
        },
        async addTrackToLibrary (trackID) {
            const response = await SpotifyService.addTrackToLibrary(trackID)

            if (response?.data?.success) {
                this.getCurrentTrack()
            }
        },
        async removeTrackFromLibrary (trackID) {
            const response = await SpotifyService.removeTrackFromLibrary(trackID)

            if (response?.data?.success) {
                this.getCurrentTrack()
            }
        }
    }
}
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
