<template>
    <div>
        <h1 class="text-7xl font-bold mb-5">
            Welcome to spotify insights!
        </h1>
        <a :href="authURL">
            <button class="btn btn-accent">
                Login with Spotify
            </button>
        </a>
    </div>
</template>

<script>
import AuthService from '@/services/AuthService'

export default {
    name: 'Home',
    async mounted () {
        // check if user is already authenticated
        const response = await AuthService.getAuthStatus()
        if (response.data?.authenticated) {
            // redirect to dashboard
            this.$router.push({ name: 'dashboard' })
        } else {
            // set auth url for button
            this.authURL = response.data?.authURL
        }
    },
    data () {
        return {
            authURL: null
        }
    }
}
</script>

<style scoped>

</style>
