<template>
    <div class="mb-8">
        <div class="alert mb-8 lg:mx-0 mx-5">
            <div class="alert-grow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#2196f3" class="w-6 h-6 mx-2">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
                </svg>
                <label class="dark:text-white">Your top artists will appear here.</label>
            </div>
        </div>
        <transition-group name="fade" class="grid lg:grid-cols-3 lg:mx-0 grid-cols-1 mx-5 gap-12">
            <ArtistCard v-for="artist in artists" :key="artist.id" :artist="artist"></ArtistCard>
        </transition-group>
    </div>
</template>

<script>
import SpotifyService from '@/services/SpotifyService'
import ArtistCard from '@/components/ArtistCard'

export default {
    name: 'TopArtists',
    components: { ArtistCard },
    data () {
        return {
            artists: null
        }
    },
    async mounted () {
        this.artists = (await SpotifyService.getTopArtists()).data
    }
}
</script>

<style scoped>

</style>
