<template>
    <div class="mb-8">
        <div class="alert mb-8 lg:mx-0 mx-5">
            <div class="alert-grow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#2196f3" class="w-6 h-6 mx-2">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
                </svg>
                <label class="dark:text-white">Your top tracks will appear here.</label>
            </div>
        </div>
        <transition-group name="fade" class="grid lg:grid-cols-3 lg:mx-0 grid-cols-1 mx-5 gap-12">
            <TrackCard v-for="track in tracks" :key="track.id" :track="track" @startedPlayingPreview="managePreviews($event)"></TrackCard>
        </transition-group>
    </div>
</template>

<script>
import TrackCard from '@/components/TrackCard'
import SpotifyService from '@/services/SpotifyService'

export default {
    name: 'TopTracks',
    components: {
        TrackCard
    },
    data () {
        return {
            tracks: null,
            previews: []
        }
    },
    async mounted () {
        this.tracks = (await SpotifyService.getTopTracks()).data
    },
    methods: {
        managePreviews (audio) {
            // pause all previews that are being played at the moment
            for (const preview of this.previews) { preview.pause() }
            this.previews.push(audio)
        }
    }
}
</script>

<style scoped>

</style>
